<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firefox Bookmarks</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <meta name="description" content="Generated Firefox Bookmarks HTML Page">
    <meta name="generated-date" content="{{ generated_date }}">
    <style>
        {{ common_css }}
    </style>
</head>
<body>

    <div class="navbar">
        <h1>My Firefox Bookmarks</h1>
        <input type="text" id="searchInput" placeholder="Search bookmarks..." oninput="filterBookmarks()">
    </div>

    <div class="container">
        {% for section, folders in bookmarks_data.items() %}
        <div class="section">
            <h2>{{ 'Bookmarks Toolbar' if section == 'toolbar' else 'Bookmarks Menu' }}</h2>
            <div class="masonry">
                {% for folder in folders %}
                <div class="folder">
                    <h3>{{ folder.folder_title }}</h3>
                    {% for bookmark in folder.bookmarks %}
                    <div class="bookmark-item">
                        <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
                        <div class="bookmark-details">
                            <div class="bookmark-url">{{ bookmark.url }}</div>
                            {% if bookmark.tags or bookmark.keyword %}
			    <div>
				    {% if bookmark.tags %}<span class="bookmark-tags">{{ bookmark.tags  }} </span>{% endif %}
				    {% if bookmark.tags and bookmark.keyword %}; {% endif %}
				    {% if bookmark.keyword %}<span class="bookmark-keywords">{{ bookmark.keyword }}</span>{% endif %}
			    </div>
                            {% endif %}
                            {% if bookmark.keyword %}
                            <div>Keyword: {{ bookmark.keyword }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        document.getElementById('searchInput').focus();

        function filterBookmarks() {
            const query = document.getElementById('searchInput').value.toLowerCase();
            const folders = document.querySelectorAll('.folder');

            folders.forEach(function(folder) {
                const bookmarks = folder.querySelectorAll('.bookmark-item');
                let hasVisibleBookmarks = false;

                bookmarks.forEach(function(bookmark) {
                    const text = bookmark.textContent.toLowerCase();
                    if (text.includes(query)) {
                        bookmark.style.display = 'block';
                        hasVisibleBookmarks = true;
                    } else {
                        bookmark.style.display = 'none';
                    }
                });

                folder.style.display = hasVisibleBookmarks ? 'inline-block' : 'none';
            });
        }
    </script>

</body>
</html>
